.gotoSelfCheckout {
	-fx-background-color:transparent;
    -fx-background-insets: 0.0,0.0,0.0;
    -fx-background-image: url("imagenes/carro.png");
    -fx-padding: 0.0;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-cursor: hand;
}
.gotoSelfCheckout:hover {
    -fx-background-image: url("imagenes/carro_hover.png");
}
.gotoSelfCheckout:pressed {
    -fx-background-image: url("imagenes/carro_pressed.png");
}

.gotoLoginSelfCheckout {
	-fx-background-color:transparent;
    -fx-background-insets: 0.0,0.0,0.0;
    -fx-background-image: url("imagenes/wheel.png");
    -fx-padding: 0.0;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-cursor: hand;
}
.gotoLoginSelfCheckout:hover {
    -fx-background-image: url("imagenes/wheel_hover.png");
}
.gotoLoginSelfCheckout:pressed {
    -fx-background-image: url("imagenes/wheel_pressed.png");
}

.openNotifications {
	-fx-background-color: transparent;
	-fx-background-insets: 0.0, 0.0, 0.0;
	-fx-background-image: url("imagenes/bell-gray.png");
	-fx-padding: 0.0;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-cursor: hand;
	-fx-text-fill: #edfbff;
	-fx-skin: "com.sun.javafx.scene.control.skin.ButtonSkin";
	-fx-padding: 0.0 3.0px 0.0 0.0; 
}
.openNotifications.gray {
	-fx-background-image: url("imagenes/bell-gray.png");
}
.openNotifications.info {
	-fx-background-image: url("imagenes/bell.png");
}
.openNotifications.warn {
	-fx-background-image: url("imagenes/bell-warn.png");
}
.openNotifications.error {
	-fx-background-image: url("imagenes/bell-error.png");
}
.openNotifications.gray:hover {
	-fx-background-image: url("imagenes/bell-gray-hover.png");
}
.openNotifications.info:hover {
	-fx-background-image: url("imagenes/bell-hover.png");
}
.openNotifications.warn:hover {
	-fx-background-image: url("imagenes/bell-warn-hover.png");
}
.openNotifications.error:hover {
	-fx-background-image: url("imagenes/bell-error-hover.png");
}

.gotoAcercaDe {
	-fx-background-color: transparent;
	-fx-background-insets: 0.0, 0.0, 0.0;
	-fx-background-image: url("imagenes/about.png");
	-fx-padding: 0.0;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-cursor: hand;
}
.gotoAcercaDe:hover {
	-fx-background-image: url("imagenes/about_hover.png");
}
.gotoAcercaDe:hover:focused:pressed {
	-fx-background-image: url("imagenes/about_pressed.png");
}

.gotoLogin {
	-fx-background-color: transparent;
	-fx-background-insets: 0.0, 0.0, 0.0;
	-fx-background-image: url("imagenes/change_cajero.png");
	-fx-padding: 0.0;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-cursor: hand;
}
.gotoLogin:hover {
	-fx-background-image: url("imagenes/change_cajero_hover.png");
}
.gotoLogin:pressed {
	-fx-background-image: url("imagenes/change_cajero_pressed.png");
}

.accionCerrar {
	-fx-background-color:transparent;
	-fx-background-insets: 0.0,0.0,0.0;
	-fx-background-image: url("imagenes/exit.png");
	-fx-padding: 0.0;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-cursor: hand;
}
.accionCerrar:hover {
	-fx-background-image: url("imagenes/exit_hover.png");
}
.accionCerrar:pressed {
	-fx-background-image: url("imagenes/exit_pressed.png");
}

.goToCambioPw {
	-fx-background-color:transparent;
    -fx-background-insets: 0.0,0.0,0.0;
    -fx-background-image: url("imagenes/llave.png");
    -fx-padding: 0.0;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-cursor: hand;
}
.goToCambioPw:hover {
    -fx-background-image: url("imagenes/llave-hover.png");
}
.goToCambioPw:pressed {
    -fx-background-image: url("imagenes/llave-pressed.png");
}

.gotoPermisos {
	-fx-background-color:transparent;
    -fx-background-insets: 0.0,0.0,0.0;
    -fx-background-image: url("imagenes/permisos.png");
    -fx-padding: 0.0;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-cursor: hand;
}
.gotoPermisos:hover {
    -fx-background-image: url("imagenes/permisos-hover.png");
}
.gotoPermisos:hover:focused:pressed {
    -fx-background-image: url("imagenes/permisos-pressed.png");
}

.goToLockTPV {
	-fx-background-color:transparent;
    -fx-background-insets: 0.0,0.0,0.0;
    -fx-background-image: url("imagenes/lock.png");
    -fx-padding: 0.0;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-cursor: hand;
}
.goToLockTPV:hover {
    -fx-background-image: url("imagenes/lock_hover.png");
}
.goToLockTPV:pressed {
    -fx-background-image: url("imagenes/lock_pressed.png");
}

#logoBrico{
	-fx-background-image: url("../../../../../brico/pos/selfcheckout/gui/bienvenida/logo_brico.png");
	-fx-background-size: 35% auto;
	-fx-background-repeat: no-repeat;
}