/*  selfcheckoutintroducircodigopostal  */

.intro-number {
    -fx-background-color: rgba(227, 6, 19) !important;
    -fx-text-fill: rgba(255, 255, 255) !important;
}

.boton-fondo-black {
    -fx-background-color: rgba(0, 0, 0);
    -fx-text-fill: rgba(255, 255, 255) !important;
}

.boton-fondo-black:hover {
    -fx-background-color: rgba(0, 0, 0);
    -fx-text-fill: rgba(255, 255, 255) !important;
}

.text-field {
    -fx-text-fill: rgba(0, 0, 0);
}

.text-black{
    -fx-text-fill: rgba(0, 0, 0) !important;
}